<h1><%= @title %></h1>
<p><%= @content %></p>

<div>
  <a href="edit/<%= @title.sub!(" ","-") %>">Edit this Page</a>
</div>

<div>
  <form action="/delete/<%= @title %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete this Post">
  </form>
</div>
